################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SV21T1020659.Shop/Views/Home/Categories.cshtml
