@model SV21T1020659.Web.Models.OrderDetailModel

<div class="modal-header bg-primary">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Chuyển giao hàng cho đơn hàng</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <label class="control-label">Người giao hàng:</label>
        <select class="form-control" name="shipperID">
            <option value="0">-- Chọn người giao hàng ---</option>
            @foreach (var shipper in Model.Shippers)
            {
                <option value="@shipper.ShipperID">@shipper.ShipperName</option>
            }
        </select>
        @if (ViewData.ModelState["shipperID"]?.Errors.Count > 0)
        {
            <span class="text-danger">@ViewData.ModelState["shipperID"].Errors[0].ErrorMessage</span>
        }
    </div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary">
        <i class="fa fa-floppy-o"></i> Cập nhật
    </button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Bỏ qua</button>
</div>
